In [377]:
import numpy as np
import pandas as pd

In [378]:
# Read Csv Files

credits = pd.read_csv("tmdb_5000_credits.csv")
movies = pd.read_csv("tmdb_5000_movies.csv")

In [379]:
# Show dataframe

credits.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [380]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [381]:
# Merge them on title

movies = movies.merge(credits,on="title")

In [382]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [383]:
# Relevant features fro recommendation

# genres
# id
# title
# overview
# cast

movies = movies[['id','title','overview','genres','keywords','cast','crew']]

In [ ]:

movies.head(2)

In [ ]:
# Check if any data is missing and then remove that entire row

movies.isnull().sum()

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies.isnull().sum()

In [ ]:
# Check if duplicate rows present in dataframe

movies.duplicated().sum()

In [ ]:
movies.iloc[0].genres

In [ ]:
#  I have list of dictionary and have to convert into just list of genres (just name not key). But there is problem,
#   list is itself inside ('') means acting as string.

# I'll use module named ast to convert string of list to non string.

import ast

ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

In [ ]:
# function for converting list of genres

def convert(obj):
    L=[]
    for i in ast.literal_eval(obj) :
        L.append(i['name'])
    return L

In [ ]:
# applying function to column
movies['genres'] = movies['genres'].apply(convert)

In [ ]:
movies.head(2)

In [ ]:
# Now same thing for keywords column

movies['keywords'] = movies['keywords'].apply(convert)

In [ ]:
movies.head(2)

In [ ]:
movies['cast'][0]

In [ ]:
# Now similar to cast column but i need only top 3 actors name.

def transform(obj):
    L=[]
    counter =0 
    for i in ast.literal_eval(obj) :
        if counter != 3:
            L.append(i['name'])
            counter +=1
        else:
            break
    return L

In [ ]:
movies['cast'] = movies['cast'].apply(transform)

In [ ]:
movies.head(2)

In [ ]:
movies['crew'][0]

In [ ]:
# I only need Director from crew.

def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj) :
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [ ]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [ ]:
movies.head(2)

In [ ]:
movies['overview'][0]

In [ ]:
# Overview is string , so i have to make it list as well.

movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [ ]:
movies.head(2)

In [ ]:
movies.head(2)

In [ ]:
# Now I have to remove spaces between words otherwise algorithm will treat them different but actually one word is incomplete withput other.


movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(" ","") for i in x])

In [ ]:
movies.head(2)

In [ ]:
# Now Concatenate all coloumns into single

movies['tags'] = movies['overview'] + movies['genres'] +movies['keywords'] +movies['cast'] + movies['crew']

In [ ]:
# Now make new data frame in which only required columns would be present

new_df = movies[['id','title','tags']]

In [ ]:
new_df

In [ ]:
# Convert tags column from list to string.

new_df['tags'] = new_df['tags'].apply(lambda x : (" ").join(x))

In [ ]:
# Lower case is suggested

new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

In [ ]:
new_df.head(2)

In [ ]:
# Now in tags there are many words which are one form or the other of the same word.
#  eg - {'loved','love','loving'}
# So just replace them with same word so that they will not be counted differently

In [ ]:
!pip install nltk

In [ ]:
import nltk

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [ ]:
new_df['tags'] = new_df['tags'].apply(stem)

In [ ]:
new_df['tags'][0]

In [ ]:
# Text- Vectorization
# Now we will concatenate tags of all movies, then remove stop word i.e, 'a','is','are',etc. And then choose most used words 
#  let' say we choose 5000 words , and make them vectors of 5k-dim.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000 , stop_words = "english")

In [ ]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [ ]:
vectors.shape

In [ ]:
# 500 words

for i in cv.get_feature_names_out():
    print(i)

In [ ]:
# Now I'll calculate cosine similarity between vectots

from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [ ]:
# Get index by searching movie

new_df[new_df['title']== 'Batman Begins'].index[0]

In [ ]:
# apply enumerate function so that every similarity element will get it's index and even after sorting we can fetch it by using index. 

sorted(list(enumerate(similarity[0])),reverse =True,key = lambda x : x[1])[1:6]

In [386]:
# Function for recommended movies

def recommend(movie):
    movie_index = new_df[new_df['title']== movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse =True,key = lambda x : x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)
    return

In [387]:
recommend("Avatar")

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [388]:
import pickle

In [389]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [392]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [398]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [397]:
pickle.dump(new_df,open('movie_list.pkl','wb'))

In [401]:
import pickle

with open('similarity.pkl', 'rb') as f:
    similarity = pickle.load(f)

# Split the data
part_1 = similarity[:len(similarity)//2]
part_2 = similarity[len(similarity)//2:]

with open('similarity_part1.pkl', 'wb') as f:
    pickle.dump(part_1, f)

with open('similarity_part2.pkl', 'wb') as f:
    pickle.dump(part_2, f)